:root{
    --tompastel: #f1c3a5;
    --textocentralizado: "center";
    --bordacustomizada: 4px dashed #F3A957;
    --textocor: #000000;
}

*{
    margin: 0px;
    border: 0px solid red;
    padding: 0px;
}

header{
    background-color: var(--tompastel);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 350px;
}

section#titulo{
    text-align: center;
}

h1#nome{
    font-size: 40px;
}

h2#funcao{
    font-size: 30px;
}


nav{
    background-color: #F3A957;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    height: 10vw;
}

img{
    border: var(--bordacustomizada);
    border-radius: 60%;
    height: 23vw;
}

li{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

li:hover{
    background-color: bisque;
}

a{
    text-decoration: none;
    color: white;
    font-size: large;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover{
    color: black;
}

main{
    color: var(--textocor);
    background-color:var(--tompastel);
    text-align: var(--textocentralizado);
    height: 1000px;
}

section#home{
 padding: 50px;
 text-align: center;
}
section#port{
    height: 300px;
}
section#exp{
    height: 300px;

}
section#cont{
    height: 300px;

}

footer{
    background-color: #f3a957;
    text-align: center;

}

div{ 
    text-align: center;
}